@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype'); 
    /*dois pontos significa: volte uma pasta (meu style ta na pasta estilo*/
    font-weight: normal;
}

:root { /*área onde declaro minhas variáveis globais (começam com --)*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', cursive;
    --fonteandroid: 'Android', cursive;
}

* { /*seleciona todos os elementos do html*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}

a.externo::after { /*todos os links que forem da classe externo, vou por após eles*/
    content: '\1F517\00A0';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px; /*altura mínima*/
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fontedestaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    color: white;
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s; /*ao passar o mouse ele leva 0.5s para mudar*/
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto; /*para quando a tela for maior que 1000px o site ficar centralizado e não crescer*/
    margin-bottom: 30px; /*para o meu rodapé não ficar grudado no conteúdo*/
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px; /*deixando apenas as bordas de baixo da esquerda e direita arredondadas*/
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonteandroid);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonteandroid);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p { /*significa que o p pode estar dentro do main em qualquer nível (até dentro de outras tags do main)*/
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /*parágrafos*/
    line-height: 2em; /*espaçamento entre linhas*/
    font-size: 1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
   text-decoration: none;
   font-weight: bold;
   color: var(--cor5);
   background-color: var(--cor1);
   padding: 2px 6px; 
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%; /*isso faz com que as imagens se adaptem ao tamanho da tela*/
}

main img.pequena {
    max-width: 350px;
    display: block; /*uma imagem por padrão não é um bloco, então para funcionar o margin auto tenho que usar o display block*/
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px; /*pois quero colar no fim da tela*/
    padding: 20px;
    padding-bottom: 59%; /*tamanho da barra preta dos dois lados do vídeo (59% nesse caso elas sumiram)*/
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /*quero que ele cresça para fora*/
    border-radius: 10px 10px 0px 0px;   
}


aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*emojipedia: pega o código e acresencenta a barra (00A0 é espaço em branco)*/
    list-style-position: inside; /*bolinha da lista pra dentro (vem outside por padrão)*/
    columns: 2; /*número de colunas*/

}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

